<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julun.huanque.message">

    <application>

        <activity
            android:name=".activity.MessageSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrivateConversationSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PrivateConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".activity.SysMsgActivity"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>