<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julun.huanque.core">


    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- JPush Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 读取位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 播打电话 -->
    <!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!-- 读取手机唯一标识符 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 读写外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读写系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 使用相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 启用opengl -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 删除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 申请安装apk权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Webview安全浏览 -->
    <!--数美反渠道作弊需要-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 融云 Permissions Required -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <!-- 华为视频刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--小米适配刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait" />

        <activity
            android:name=".ui.recharge.RechargeCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".ui.withdraw.WithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />
        <activity
            android:name=".ui.withdraw.WithdrawHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />

        <activity
            android:name=".ui.main.makefriend.PlumFlowerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.record_voice.VoiceSignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />
        <activity
            android:name=".ui.share.InviteShareActivity"
            android:theme="@style/ShareTheme" />
        <activity
            android:name=".ui.share.LiveShareActivity"
            android:theme="@style/ShareTheme" />
        <activity
            android:name=".ui.live.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LiveTheme"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".ui.main.bird.LeYuanBirdActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />
        <activity
            android:name=".ui.main.follow.FollowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.homepage.HomePageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />
        <activity
            android:name=".ui.dynamic.DynamicDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />
        <activity
            android:name=".ui.homepage.CircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomToolBarTheme" />
        <activity
            android:name=".ui.publish_dynamic.PublishStateActivity"
            android:theme="@style/CustomToolBarTheme"
            android:windowSoftInputMode="adjustNothing" />


        <service android:name=".service.FloatingService" />
        <service android:name=".service.BadgeIntentService" />
    </application>
</manifest>