<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.julun.huanque.agora">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--    // 如果你的场景中涉及读取外部存储，需添加如下权限：-->
    <!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--    // 如果你使用的是 Android 10.0 及以上设备，还需要添加如下权限：-->
    <!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />-->

    <application
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">
        <activity
            android:name=".activity.VoiceChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AnonymousVoiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

    </application>
</manifest>