<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.julun.huanque">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional 一键登录权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <!-- 申请华为角标权限  -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.HuanQueApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/CustomToolBarTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon, android:theme,android:allowBackup,android:supportsRtl">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeL"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mn9xou" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.LoginActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/LoginDialogStyle" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MainPageTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FillInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.safe.AccountAndSecurityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneNumLoginActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.cockroach.SecondAct" />
        <activity android:name=".ui.cockroach.LifecycleExceptionActivity" />
        <activity android:name=".ui.cockroach.DebugSafeModeTipActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/wxEntryTheme" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.report.ReportActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 环境配置页 -->
        <activity
            android:name=".activity.EnvironmentConfigurationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.PrivacyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.safe.DestroyAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SelectSexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectSocialWishActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CommonSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateAccountActivity"
            android:screenOrientation="portrait" />

        <!-- since 2.0.0 optional 可选项，使用一键登录功能必须添加  -->
        <!-- since 2.1.1 optional 可选项，通过screenOrientation设置授权页面横竖屏展示  -->
        <activity
            android:name="com.cmic.sso.sdk.activity.OAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop" />
        <!-- since 2.0.0 optional 可选项，使用一键登录功能必须添加  -->
        <!-- since 2.1.1 optional 可选项，通过screenOrientation设置授权页面横竖屏展示  -->
        <activity
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/ActivityDialogStyleaa"
            tools:replace="android:theme" />
        <!-- since 2.0.0 optional 可选项，使用一键登录功能必须添加  -->
        <!-- since 2.1.1 optional 可选项，通过screenOrientation设置授权页面横竖屏展示  -->
        <activity
            android:name="cn.jiguang.verifysdk.CtLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/ActivityDialogStyleaa"
            tools:replace="android:theme"/>
        <activity android:name=".ui.test.TestPKActivity" />

        <meta-data
            android:name="com.openinstall.APP_KEY"
            android:value="mn9xou" />

        <!--        <meta-data-->
        <!--            android:name="UMENG_CHANNEL"-->
        <!--            android:value="" />-->


        <!-- 下载服务 -->
        <service android:name=".app.update.UpgradeApkService">
            <intent-filter>
                <action android:name="com.huanque.downService.start" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_app" />
        </provider>

    </application>

</manifest>