build
npm-debug.log
yarn-error.log
yarn.lock

*.js*
*.json
*.flowconfig*
*.h
*.m
*.mm
*.lock
.gitattributes
*.md
*.png
*.jpg
*.css
*.html
*.ts
*.tsx
.bin
*.map
LICENSE
BUCK
*.podspec
*.markdown
*.yml
*.rb
*.sh
*.bnf
*.info
.npmignore

.gitignore
ios
web
gradle
#先过滤全部node_modules内容 然后根据需要保存相应的文件
/node_modules/*
!/node_modules/jsc-android
!/node_modules/react-native/android
!/node_modules/react-native-linear-gradient/android
!/node_modules/react-native-gesture-handler
!/node_modules/react-native-safe-area-context

!/node_modules/@react-native-community
!/node_modules/react-native-svg/android
!/node_modules/react-native-reanimated/android
!/node_modules/react-native-video/android

